/backend/target
/backend/lib
/backend/classes
/backend/checkouts
/backend/pom.xml
/backend/pom.xml.asc
/backend/*.jar
/backend/*.class
/backend/.lein-*
/backend/.nrepl-port
/backend/.clj-kondo/
/backend/.lsp
/backend/.env.development
/backend/.calva/
/frontend/.calva/
/out/
/frontend/resources/public/js/compiled/
/frontend/target/
/frontend/.clj-kondo/
/frontend/*-init.clj
/frontend/*.log
/frontend/.lein-*
/frontend/.nrepl-port
/frontend/node_modules/
/frontend/.shadow-cljs/