/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.clj-kondo
/.lsp
/.env.development
/.calva
/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log
/.lein-*
/.nrepl-port
/frontend/node_modules/
/.shadow-cljs/